<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ncu.zss.rbs.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="ncu.zss.rbs.model.Faculty" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="id_digest" property="idDigest" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="designation" property="designation" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="office" property="office" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, id_digest, password, name, designation, gender, office, phone
  </sql>
  
  <!-- Select admin by id. -->
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select F.*
  		from (select id
  				from Admin
  				where id=#{id,jdbcType=VARCHAR}) as A
  		join Faculty as F
  		on A.id = F.id;
  </select>
  
  <!-- Select admin by id digest. -->
  <select id="selectByIdDigest" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select F.*
  		from (select *
  				from Faculty
  				where idDigest=#{idDigest,jdbcType=VARCHAR}) as F
  		join Admin as A
  		on A.id = F.id;
  </select>
  
  <!-- Select admin by id digest. -->
  <select id="selectDefaultAdminId" parameterType="java.lang.String" resultType="java.lang.String">
  	select id
  		from Admin
  		limit 0, 1;
  </select>
  
</mapper>