<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ncu.zss.rbs.dao.FavoriteRoomMapper" >
  <resultMap id="BaseResultMap" type="ncu.zss.rbs.model.FavoriteRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roomBuilding" property="roombuilding" jdbcType="VARCHAR" />
    <result column="roomNumber" property="roomnumber" jdbcType="VARCHAR" />
    <result column="personType" property="persontype" jdbcType="VARCHAR" />
    <result column="personId" property="personid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roomBuilding, roomNumber, personType, personId
  </sql>
  
  <resultMap id="RoomResultMap" type="ncu.zss.rbs.model.Room" >
    <id column="building" property="building" jdbcType="VARCHAR" />
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="SMALLINT" />
    <result column="hasMultiMedia" property="hasmultimedia" jdbcType="BIT" />
  </resultMap>
  
  <!-- Select a favorite room record. -->
  <select id="selectFavoriteRoom" resultMap="BaseResultMap">
  	select *
  		from FavoriteRoom
  		where personType = #{type,jdbcType=VARCHAR}
  			and personId = #{id,jdbcType=VARCHAR}
  			and roomBuilding = #{building,jdbcType=VARCHAR}
  			and roomNumber = #{number,jdbcType=VARCHAR};
  </select>
  
  <!-- Insert a favorite room record. -->
  <insert id="insertFavoriteRoom">
  	insert into FavoriteRoom (personType, personId, roomBuilding, roomNumber)
  		values (#{type,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR});
  </insert>
  
  <!-- Delete a favorite room record. -->
  <delete id="deleteFavoriteRoom">
  	delete
  		from FavoriteRoom
  		where personType = #{type,jdbcType=VARCHAR}
  			and personId = #{id,jdbcType=VARCHAR}
  			and roomBuilding = #{building,jdbcType=VARCHAR}
  			and roomNumber = #{number,jdbcType=VARCHAR};
  </delete>
  
  <!-- Clear favorite room records. -->
  <delete id="clearFavoriteRoom">
  	delete
  		from FavoriteRoom
  		where personType = #{type,jdbcType=VARCHAR}
  			and personId = #{id,jdbcType=VARCHAR};
  </delete>
  
  <!-- Select favorite room list. -->
  <select id="selectFavoriteList" resultMap="RoomResultMap">
  	select R.*
		from Room as R
	    join (select roomBuilding, roomNumber 
				from FavoriteRoom
				where personType = #{type,jdbcType=VARCHAR}
					and personId = #{id,jdbcType=VARCHAR}
				order by id desc
				limit #{fromIndex,jdbcType=INTEGER}, 20) as F
		on R.building = F.roomBuilding
			and R.`number` = F.roomNumber;
  </select>
  
</mapper>