<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.zss.rbs.dao.RoomBookingInfoMapper">
  <resultMap id="BaseResultMap" type="ncu.zss.rbs.model.RoomBookingInfo">
    <result column="building" jdbcType="VARCHAR" property="building" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="capacity" jdbcType="SMALLINT" property="capacity" />
    <result column="hasMultiMedia" jdbcType="BIT" property="hasmultimedia" />
    <result column="groupId" jdbcType="CHAR" property="groupid" />
    <result column="roomBuilding" jdbcType="VARCHAR" property="roombuilding" />
    <result column="roomNumber" jdbcType="VARCHAR" property="roomnumber" />
    <result column="applicantType" jdbcType="CHAR" property="applicanttype" />
    <result column="applicantId" jdbcType="VARCHAR" property="applicantid" />
    <result column="timeIntervals" jdbcType="VARCHAR" property="timeintervals" />
    <result column="bookReason" jdbcType="VARCHAR" property="bookreason" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="adminId" jdbcType="VARCHAR" property="adminid" />
    <result column="facultyId" jdbcType="VARCHAR" property="facultyid" />
    <result column="declineReason" jdbcType="VARCHAR" property="declinereason" />
    <result column="expired" jdbcType="TINYINT" property="expired" />
    <result column="creationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="studentClassName" jdbcType="VARCHAR" property="studentclassname" />
    <result column="studentGender" jdbcType="BIT" property="studentgender" />
    <result column="studentDormRoomNumber" jdbcType="VARCHAR" property="studentdormroomnumber" />
    <result column="studentPhone" jdbcType="VARCHAR" property="studentphone" />
    <result column="facultyName" jdbcType="VARCHAR" property="facultyname" />
    <result column="facultyDesignation" jdbcType="VARCHAR" property="facultydesignation" />
    <result column="facultyGender" jdbcType="BIT" property="facultygender" />
    <result column="facultyOffice" jdbcType="VARCHAR" property="facultyoffice" />
    <result column="facultyPhone" jdbcType="VARCHAR" property="facultyphone" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="adminDesignation" jdbcType="VARCHAR" property="admindesignation" />
    <result column="adminGender" jdbcType="BIT" property="admingender" />
    <result column="adminOffice" jdbcType="VARCHAR" property="adminoffice" />
    <result column="adminPhone" jdbcType="VARCHAR" property="adminphone" />
  </resultMap>
  
  <select id="selectRoomBookingInfo" resultMap="BaseResultMap" statementType="CALLABLE">
	  {call sp_roomBookingInfo(#{groupId,jdbcType=VARCHAR,mode=IN})}
  </select>
  
</mapper>