<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ncu.zss.rbs.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="ncu.zss.rbs.model.Room" >
    <id column="building" property="building" jdbcType="VARCHAR" />
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="SMALLINT" />
    <result column="hasMultiMedia" property="hasmultimedia" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    building, number, capacity, hasMultiMedia
  </sql>
  
  <!-- Select room of building. -->
  <select id="selectRoomList" resultMap="BaseResultMap">
  	select *
  		from Room
  		where building = #{building,jdbcType=VARCHAR}
  		order by number;
  </select>
  
  <!-- Select room of building from index. -->
  <select id="selectRoomListWithFromIndex" resultMap="BaseResultMap">
  	select *
  		from Room
  		where building = #{building,jdbcType=VARCHAR}
  		order by number
  		limit #{fromIndex,jdbcType=INTEGER}, 20;
  </select>
  
</mapper>