<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd 
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">

	<!-- enable annotation -->
	<context:annotation-config />

	<!-- 扫描service、dao组件 -->
	<context:component-scan base-package="ncu.zss.rbs.service" />
	<context:component-scan base-package="ncu.zss.rbs.dao" />
	<context:component-scan base-package="ncu.zss.rbs.service.impl" />
	<context:component-scan base-package="ncu.zss.rbs.mq.rabbitmq" />
	<context:component-scan base-package="ncu.zss.rbs.mq" />

	<!-- 分解配置 jdbc.properites -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 配置数据库注解aop -->
	<aop:aspectj-autoproxy />
	<bean id="manyDataSourceAspect" class="ncu.zss.rbs.db.manager.DataSourceAspect" />
	<aop:config>
		<aop:aspect id="c" ref="manyDataSourceAspect">
			<aop:pointcut id="tx" expression="execution(* springdemo.dao.*.*(..))" />
			<aop:before pointcut-ref="tx" method="before" />
		</aop:aspect>
	</aop:config>
	<!-- 配置数据库注解aop -->

</beans>            